html {
  max-width: 1920px;
  width: auto;
}

/* navbar */
header {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}

.hidden {
  display: none;
  visibility: hidden;
}
.navbar {
  background-color: #353a40 !important;
}

.navbar-brand {
  color: #fffdff;
}

.active {
  color: #feffff !important;
}

.nav-link {
  color: #949da2;
}

.comprar-tickets {
  color: #28a642;
}

.logo-container {
  width: 200px;
  margin: 10px;
}

@media only screen and (min-width: 992px) {
  .navbar-collapse {
    display: flex;
    justify-content: flex-end;
    margin: 10px 6% 10px 0px;
  }

  .logo-container {
    width: 200px;
    margin-left: 6%;
  }
}

.logo {
  max-width: 40%;
}

/* banner */
@media only screen and (max-width: 1200px) {
  .only-mobile {
    display: flex;
    visibility: visible;
  }

  .mobile-false {
    display: none;
    visibility: none;
  }
}

@media only screen and (min-width: 1201px) {
  .only-mobile {
    display: none;
    visibility: none;
  }

  .mobile-false {
    visibility: visible;
    display: flex;
  }
}

.banner {
  width: 100%;
  height: 100%;
}

.img-banner {
  max-width: 100%;
  filter: brightness(50%);
}

.img-banner-mobile {
  height: 100vh;
  max-width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
  filter: brightness(50%);
}

.texto-banner {
  width: 600px;
  text-align: end;
  color: #fff;
  font-size: 1.3em;
  position: absolute;
  bottom: 14%;
  right: 10%;
}

.texto-banner-mobile {
  width: 90%;
  text-align: end;
  color: #fff;
  font-size: 1.3em;
  position: absolute;
  bottom: 5%;
  margin: 0px 5% 0px 5%;
}

.button-tickets {
  background-color: #29a744;
}

.button-tickets:hover {
  background-color: #218336 !important;
}

/* Oradores */

#oradores {
  scroll-margin-top: 100px;
  margin: 0px 10px 0px 10px;
}

.centrar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.titulo {
  margin-top: 20px;
  font-size: 1em;
}

.titulo span {
  font-size: 0.8em;
}

.card {
  width: 24rem;
}

.card-img-top {
  max-width: 100%;
}

.small-button {
  --bs-btn-padding-y: 0rem;
  --bs-btn-padding-x: 0.2rem;
  --bs-btn-font-size: 0.8rem;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 3px;
}

.btn-info {
  color: #fff;
}

.btn-info:hover {
  color: #fff !important;
}

/* fecha */

#fecha {
  scroll-margin-top: 110px;
  margin-top: 5px;
}

.row {
  padding: 0px !important;
  margin: 0px !important;
}

#fecha .col-md-6 {
  padding: 0px 1px 0px 0px !important;
}
@media only screen and (max-width: 768px) {
  #fecha {
    padding: 0px 10px 0px 10px;
  }
}

@media only screen and (min-width: 768px) {
  .img-inside {
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.fecha-container {
  background-color: #353a40;
  color: #fff;
  box-sizing: border-box;
}

.img-inside {
  max-width: 100%;
  max-height: 100%;
}

.fecha-text {
  margin: 3% 2% 3% 2%;
}

/* formulario */
#formulario > span {
  font-size: 0.91em;
}

#formulario > .col-6,
.col-12 {
  padding: 0.75rem !important;
}

#formulario > input,
input::placeholder {
  font-size: 0.9em;
}

#formulario > textarea,
textarea::placeholder {
  font-size: 1.3em;
}

#formulario form {
  margin-top: 1%;
}

#formulario {
  margin: 4.5rem;
}

.form-text {
  font-size: 0.7em;
}

.btn-form {
  width: 100%;
  background-color: #96c93e;
  border: 1px solid #96c93e;
  font-size: 1.2em;
}

.btn-form:hover {
  width: 100%;
  background-color: #96c93e !important;
  border: 1px solid #96c93e !important;
  font-size: 1.2em;
}

/* tickets */
.tickets {
  text-align: center;
  padding-top: 90px;
  justify-content: center;
}

.card-custom {
  margin: 0px 5px;
  border: 2px solid #1f87f7;
  padding: 1rem;
}

.c1 {
  border-color: #1f87f7;
}

.c2 {
  border-color: #32a8bb;
}

.c3 {
  border-color: #f7c224;
}

#tickets .documentacion {
  font-size: 0.9em;
}

.alerta {
  margin: 1rem 0px;
  height: 50px;
  text-align: left;
  display: flex;
  align-items: center;
  font-size: 0.95em;
}

.btn-size {
  margin: 0;
}

.btn-1 {
  padding-right: 5px;
}

.btn-2 {
  padding-left: 5px;
}

.form-tickets > label {
  text-align: left;
  color: #32a8bb;
}

.labels-align {
  text-align: left;
}

/* footer */

@media only screen and (max-width: 865px) {
  #footer li {
    font-size: 0.5em !important;
  }

  #footer ul {
    justify-content: space-evenly !important;
  }
}

#footer {
  background: rgb(28, 54, 67);
  background: linear-gradient(
    90deg,
    rgba(28, 54, 67, 1) 0%,
    rgba(29, 82, 112, 1) 35%
  );
  color: #fff;
  display: flex;
  justify-content: center;
}

#footer li {
  width: 12%;
  text-align: center;
  padding: 10px;
  display: flex;
  justify-content: center;
}
#footer ul {
  list-style: none;
  display: inline-flex;
  width: 100%;
  padding: 0px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
